{
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 100,
  "semi": false,
  "quoteProps": "consistent",
  "svelteIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
